<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.css" />

  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='script/form.js') }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>



  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  <title>INVERSI - Best Team Building Tool</title>
</head>

<body id="page-body">
  <nav class="navbar navbar-expand-md">
    <div class="navbar-brand">INVERSI</div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('form_team_example_page') }}">EXAMPLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('form_team_page') }}">TEAM</a>
      </li>
    </ul>
  </nav>

  {% set num_persons = request.args.get('num_persons') | int %}
  {% set num_teams = request.args.get('num_teams') | int %}
  {% set num_services = request.args.get('num_services') | int %}
  {% set services_pairing = request.args.getlist('services_pairing') %}
  {% set services = request.args.getlist('services') %}
  {% set statuses = request.args.getlist('statuses') %}
  {% set input_max_status = request.args.getlist('input_max_status') %}
  {% set num_max_same = request.args.get('num_max_same') | int%}
  {% set num_max_emp = request.args.get('num_max_emp') | int %}
  {% set num_max_intern = request.args.get('num_max_intern') | int %}

  <div class="container-fluid">
    <h1>
      Please insert your team data
    </h1>

    <div class="container-table rounded white-bg mb-4">
      <div class="mb-4">
        <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </p>


        <form id="team-table-form" class="mb-4" method="post" action="{{url_for('form_table_page')}}"
          enctype="multipart/form-data">

          <div class="container-fluid">
            <table id="example" class="table table-striped table-bordered display nowrap" cellspacing="0" width="100%">
              <input type="hidden" id="num_persons" name="num_persons" value="{{num_persons}}">
              <input type="hidden" id="num_teams" name="num_teams" value="{{num_teams}}">
              <input type="hidden" id="num_services" name="num_services" value="{{num_services}}">
              <input type="hidden" id="services_pairing" name="services_pairing" value="{{services_pairing}}">
              <input type="hidden" id="services" name="services" value="{{services}}">
              <input type="hidden" id="statuses" name="statuses" value="{{statuses}}">

              {% if num_max_same %}
              <input type="hidden" id="num_max_same" name="num_max_same" value="{{num_max_same}}">
              {% endif %}


              <input type="hidden" id="input_max_status" name="input_max_status" value="{{input_max_status}}">

              <thead>
                <tr>
                  <th>Index</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Coach</th>
                  <th>Must be with</th>
                  <th>Wants with either</th>
                  <th>Service</th>
                </tr>
              </thead>

              <tbody>
                {% for i in range(0, num_persons) %}
                {% set size = num_persons | string | length %}
                <tr>
                  <td>
                    <input type="text" id="row-{{i}}-num" name="row-{{i}}-num" value="{{i}}">
                  </td>
                  <td>
                    <input type="text" id="row-{{i}}-id" name="row-{{i}}-id" value="{{i}}">
                  </td>
                  <td>
                    <input type="text" id="row-{{i}}-name" name="row-{{i}}-name" value="person{{i}}">
                  </td>
                  <td>
                    <select id="status" size="1" id="row-{{i}}-status" name="row-{{i}}-status">

                      {% for status_itr in range(0, statuses|length) %}
                        {% if status_itr == 0 %}
                          <option value="{{status_itr}}" selected="selected">
                            {{statuses[status_itr]}}
                          </option>
                        {% else %}
                          <option value="{{status_itr}}">
                            {{statuses[status_itr]}}
                          </option>
                        {% endif %}
                      {% endfor %}

                      

                    </select>
                  </td>
                  <td>
                    <input type="text" id="row-{{i}}-supervise" name="row-{{i}}-supervise" value=""
                      placeholder="ex: 1 //index">
                  </td>
                  <td>
                    <input type="text" id="row-{{i}}-must" name="row-{{i}}-must" value="" placeholder="ex: 1 //index">
                  </td>
                  <td>
                    <input type="text" id="row-{{i}}-want" name="row-{{i}}-want" value="" placeholder="ex: 1 //index">
                  </td>
                  <td>
                    <select size="1" id="row-{{i}}-service" name="row-{{i}}-service">
                      {% for s_itr in range(0, services|length) %} 
                        {% if s_itr==0 %} 
                        <option value="{{s_itr+1}}" selected="selected">
                        {% else %}
                        <option value="{{s_itr+1}}">
                        {% endif %}
                           {{services[s_itr]}}
                        </option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="wrapper">
            <button id="btn-create-team" type="submit" class="">
              <span>Submit</span>
              <div class="success">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 29.756 29.756"
                  style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">

                  <path
                    d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z" />
                </svg>
              </div>
            </button>
          </div>
        </form>

        </tbody>
        </table>
      </div>
    </div>


  </div>





  <div id="footer" class="container-fluid bg-color-footer">
    <footer class="flex-wrap align-items-center py-3 mx-auto">
      <div class="col-md-12 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="text-muted label-white text-center width-100">© 2022 INVERSI, Inc</span>
      </div>

    </footer>
  </div>

</body>

</html>